<div class="inputs">
    <form ng-submit="ac.addItem()">
        <label for="name">Name:</label>
        <input name="name" type="text" ng-model="ac.name">
        <br>
        <label for="typeOfGoods">Type of baked good:</label>
        <select name="typeOfGoods" ng-model="ac.type">
            <option>Cake</option>
            <option>Cupcake</option>
            <option>Cookies</option>
            <option>Bread</option>
            <option>Pie</option>
            <option>Brownies</option>
            <option>Donuts</option>
            <option>Tart</option>
            <option>Croissant</option>
        </select>
        <br>
        <label for="baked_date">Baked on:</label>
        <input type="date" name="baked_date" id="baked_date" ng-model="ac.baked_date">
        <br>
        <label for="eat_by">Eat by:</label>
        <input type="date" name="eat_by" id="eat_by" ng-model="ac.eat_by">
        <br>
        <label for="image_url">Upload image:</label>
        <input name="image_url" type="text" placeholder="Image URL" ng-model="ac.image_url">
        <br>
        <input type="submit" value="Add new baked good">
    </form>
</div>

<div class="treats">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" ng-src="" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-name"></h5>
            <p class="card-type"></p>
            <p class="card-type"></p>
            <p class="card-bDate"></p>
            <p class="card-eDate"></p>
            <a class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>