<div class="inputs">
    <form ng-submit="ac.addItem()">
        <label for="name">Name:</label>
        <input name="name" type="text" ng-model="ac.name">
        <br>
        <label for="baked_types_id">Type of baked good:</label>
        <select ng-options="types.types for types in ac.types" name="baked_types_id" ng-model="ac.baked_types_id"></select>
        <br>
        <label for="baked_date">Baked on:</label>
        <input type="date" name="baked_date" id="baked_date" ng-model="ac.baked_date">
        <br>
        <label for="eat_by">Eat by:</label>
        <input type="date" name="eat_by" id="eat_by" ng-model="ac.eat_by">
        <br>
        <label for="image_url">Upload image:</label>
        <input name="image_url" type="text" placeholder="Image URL" ng-model="ac.image_url">
        <br>
        <input type="submit" value="Add new baked good">
    </form>
</div>

<div class="treats">
    <div class="card" style="width: 18rem;" ng-repeat="items in ac.goods">
        <img class="card-img-top" ng-src="{{items.image_url}}" alt="Card image cap" height="200px" width="200px">
        <div class="card-body">
            <h5 class="card-name">{{items.name}}</h5>
            <p class="card-type">Type: {{items.types}}</p>
            <p class="card-bDate">Baked on: {{items.baked_date | date: "MMMM-d-y"}}</p>
            <p class="card-eDate">Eat by: {{items.eat_by | date: "MMMM-d-y"}}</p>
            <a class="btn btn-danger" ng-click="ac.removeItem(items.id)">Delete</a>
        </div>
    </div>
</div>