<h2>Mai Favorites</h2>

<div class="treatsFav">
    <div class="card" style="width: 18rem;" ng-repeat="fav in fc.favGoods">
        <img class="card-img-top" ng-src="{{fav.image_url}}" alt="Card image cap" height="200px" width="200px">
        <br>
        <div class="card-Body">
            <h5 class="card-name"><b><u>{{fav.name}}</u></b></h5>
            <br>
            <p class="card-type"><b>Type:</b><br>{{fav.types}}</p>
            <br>
            <a class="btn btn-danger" ng-click="fc.removeFav(fav.id)">Delete</a>
        </div>
    </div>
</div>